body{
    background-color: darkblue;
    color: aliceblue;
    font-size: 40px;
}
header{
    background-color: blue;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}
nav{
    background-color: green;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
section{
    background-color: pink;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

footer{
    background-color: grey;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
article{
    background-color: cornflowerblue;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
aside{
    background-color: red;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
main{
    background-color: rgb(43, 43, 43);
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    display: flex;
    /*justify-content: space-around;  /* space-between, space-evenly,center, flex-start, flex-end */
    align-items: center;
    flex-direction: row;
}
.R{
    background-color: red;
    width: 200px;
    
}
.Y{
    background-color: yellow;
    width: 200px;
}
.B{
    background-color: blue;
    width: 200px;
}
.G{
    background-color: green;
    width: 200px;
}